@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 .main{
    margin-top: 100px;

} 

.navbar-nav {
    margin-top: -5%;
}

.footer{
    margin-top: 50px;
}

.bg-cover {
    height: 100%;
    background-position-y: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-class {
    color: white;
}

.headerText {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    letter-spacing: 2px; 
    color:grey;
    text-shadow: 2px 2px 4px black;
}
.navbarFont {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 1px; 
    color:white;
    text-shadow: 2px 2px 4px #000000;
}

.nav-link:hover {
    text-decoration: underline;
  }
  
.nav-link:active {
    text-decoration: underline;
  }

.img {
    image: center;
}

h1 {
    text-emphasis: bold;
}
.btn {
    align-items: center;
}

.col-6 {
    margin-left: 80px;
}
.col-4 {
    margin-left: 10px;
}
.c {
    text-align: center; 
    width: 100%; 
    
}
.intro {
    margin-top: -2%;
}

.contact {
    word-spacing: 100px;
    font-weight: bolder;
    font-size: 20px;

}
.contactInfo {
    font-size: 12px;
    word-spacing: 10px;
}
.resume {
    margin-left: 285px;
    margin-right: 250px;
}
#hp {
    margin-right: 20px;
    margin-left: 20px;
    align-content: center;
    color: white;
}

.am {
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    
}

@media screen and (max-width: 600px) {
    .aImg {
        
        height: 400px;
        width: 300px;
    }

}
.aImg {
    margin-top: 50px;
}
.rtitle {
    margin-right: 20px;
}
.resume {
    margin-top: -20px;
    margin-left: 0px;
    margin-right: -100px;
}
.pimg {
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}

.amc {
    margin-top: -75px;
}